In [18]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv('data/recommender-dataset/ml-100k_colab.csv')
df

,movie_id,user_id,user_rating,user_gender,user_zip_code,user_occupation_text,bucketized_user_age
0,242,196,3,1,55105,writer,45
1,242,305,5,1,94086,programmer,18
2,242,6,4,1,98101,executive,35
3,242,234,4,1,94702,retired,56
4,242,63,3,1,75240,marketing,25
...,...,...,...,...,...,...,...
99995,1679,863,3,1,60089,student,1
99996,1678,863,1,1,60089,student,1
99997,1680,863,2,1,60089,student,1
99998,1681,896,3,1,91505,writer,25
99999,1682,916,3,1,N2L5N,engineer,25

In [20]:
df['user_occupation_text'], _ = pd.factorize(df['user_occupation_text'])
df['bucketized_user_age'], _ = pd.factorize(df['bucketized_user_age'])

df = df.rename(columns={"user_occupation_text" : "user_occupation", "bucketized_user_age" : "user_age_cohort"})
df['user_occupation'] = df['user_occupation'].apply(lambda x: x+1)
df['user_age_cohort'] = df['user_age_cohort'].apply(lambda x: x+1)

df

,movie_id,user_id,user_rating,user_gender,user_zip_code,user_occupation,user_age_cohort
0,242,196,3,1,55105,1,1
1,242,305,5,1,94086,2,2
2,242,6,4,1,98101,3,3
3,242,234,4,1,94702,4,4
4,242,63,3,1,75240,5,5
...,...,...,...,...,...,...,...
99995,1679,863,3,1,60089,6,7
99996,1678,863,1,1,60089,6,7
99997,1680,863,2,1,60089,6,7
99998,1681,896,3,1,91505,1,5
99999,1682,916,3,1,N2L5N,9,5

In [21]:
df.to_csv('data/TFRS-iterate/ml-100k_colab.csv', index=False)

In [22]:
df['user_age_cohort'].max()

7